@use "./variables.scss" as *;

@font-face {
    font-family: 'Manrope';
    src: url("../assets/font/Manrope-ExtraBold.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    height: 100vh;
    background-color: $DarkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advice {
    background-color: $DarkGrayishBlue;
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: $LightCyan;
    width: fit-content;
    position: relative;
    h3 {
        font-size: .8rem;
        color: $NeonGreen;
        text-transform: uppercase;
    }
    p {
        font-size: 1.2rem;
        max-width: 444px;
        margin: 2rem auto;
    }
    img {
        margin-bottom: 1;
    }
    button {
        background-color: $NeonGreen;
        color: $DarkBlue;
        border: none;
        padding: 1rem;
        border-radius: 50%;
        margin-top: 1rem;
        cursor: pointer;
        transition: 0.3s ease;
        position: absolute;
        bottom: -2rem;
        right: 50%;
        transform: translateX(50%);
        &:hover {
            box-shadow: 0 0 15px rgba($NeonGreen, 0.3);
        }
    
    }
    @media (max-width: 768px) {
        margin: 24px;
        padding: 1rem;
        padding-bottom: 2rem;
        
    }
}
